@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Arial */
  @font-face {
    font-family: Arial;
    src: url('../fonts/Arial/Arial.ttf') format('truetype');
    font-weight: 400;
  }

  @font-face {
    font-family: Arial;
    src: url('../fonts/Arial/ArialMedium.ttf') format('truetype');
    font-weight: 500;
  }

  @font-face {
    font-family: Arial;
    src: url('../fonts/Arial/ArialBold.ttf') format('truetype');
    font-weight: 700;
  }
  /* End Arial */

  /* Helvetica */
  @font-face {
    font-family: Helvetica;
    src: url('../fonts/Helvetica/HelveticaCE.ttf') format('truetype');
    font-weight: 400;
  }

  @font-face {
    font-family: Helvetica;
    src: url('../fonts/Helvetica/HelveticaCEMedium.ttf') format('truetype');
    font-weight: 500;
  }

  @font-face {
    font-family: Helvetica;
    src: url('../fonts/Helvetica/HelveticaCEBold.ttf') format('truetype');
    font-weight: 700;
  }
  /* End Helvetica */

  /* SegoeUI */
  @font-face {
    font-family: SegoeUI;
    src: url('../fonts/SegoeUI/SegoeUI.ttf') format('truetype');
    font-weight: 400;
  }

  @font-face {
    font-family: SegoeUI;
    src: url('../fonts/SegoeUI/SegoeUISemibold.ttf') format('truetype');
    font-weight: 600;
  }

  @font-face {
    font-family: SegoeUI;
    src: url('../fonts/SegoeUI/SegoeUIBold.ttf') format('truetype');
    font-weight: 700;
  }
  /* End SegoeUI */

  /* SegoeUIHistoric */
  @font-face {
    font-family: SegoeUIHistoric;
    src: url('../fonts/SegoeUIHistoric/SegoeUIHistoric.ttf') format('truetype');
    font-weight: 400;
  }
  /* End SegoeUIHistoric */

  /* SFProDisplay */
  @font-face {
    font-family: SFProDisplay;
    src: url('../fonts/SFProDisplay/SFProDisplay.ttf') format('truetype');
    font-weight: 400;
  }
  /* End SFProDisplay */

  /* Times New Roman */
  @font-face {
    font-family: 'Times New Roman';
    src: url('../fonts/TimesNewRoman/TimesNewRoman.ttf') format('truetype');
    font-weight: 400;
  }
  /* End Times New Roman */

  body {
    @apply bg-white leading-[1.34] text-[#1c1e21];
    direction: ltr;
    unicode-bidi: embed;
  }
}

@layer components {
  .input {
    @apply w-full rounded-md border border-fb-border py-[14px] px-4 text-[17px] outline-none focus:border-[#1b74e4] focus:caret-[#1b74e4];
  }

  .formBox {
    @apply rounded-lg bg-white py-[10px] px-4 shadow-formBox;
  }

  .button {
    @apply rounded-md px-4 font-Helvetica font-bold text-white transition-colors focus:outline-none;
  }
}

@layer utilities {
  .focus {
    @apply focus:rounded focus:outline-1 focus:outline-fb-primary;
  }
}
